/* ----------------------------------------------------------------------------- */
/* Background and main section */
/* ----------------------------------------------------------------------------- */

* {
  background: #1c1c1c;
  font-family: "Inter";
}

/* .home-page {
  background: #1c1c1c;
} */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* CARDS Section */
/* ----------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------- */
/* DARK CARDS Section */
/* ----------------------------------------------------------------------------- */
.dark-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
/* ----------------------------------------------------------------------------- */
/* DARK FRONT STRUCTURE */
/* ----------------------------------------------------------------------------- */

.dark-front-layer-one {
  display: inline-flex;
  justify-content: center;
  width: 550px;
  height: 868px;
  left: 73px;
  top: 960px;
  background: #23252c;
}

.dark-front-middle-box {
  position: absolute;
  width: 317px;
  height: 399px;
  left: 116px;
  top: 361px;
  background: #1a1b21;
}

.dark-front-desc-box {
  color: #dcdcdc;
  position: absolute;
  width: 247px;
  height: 61px;
  left: 152px;
  top: 561px;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}

/* ----------------------------------------------------------------------------- */
/* DARK BACK STRUCTURE */
/* ----------------------------------------------------------------------------- */
.dark-back-layer-one {
  display: inline-flex;
  justify-content: center;
  width: 550px;
  height: 868px;
  left: 664px;
  top: 960px;
  background: #23252c;
}

/* ----------------------------------------------------------------------------- */
/* LIGHT CARDS Section */
/* ----------------------------------------------------------------------------- */

.light-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* ----------------------------------------------------------------------------- */
/* LIGHT FRONT STRUCTURE */
/* ----------------------------------------------------------------------------- */

.light-front-layer-one {
  display: inline-flex;
  justify-content: center;
  width: 550px;
  height: 868px;
  left: 65px;
  top: 53px;
  background: #23252c;
}

/* ----------------------------------------------------------------------------- */
/* LIGHT BACK STRUCTURE */
/* ----------------------------------------------------------------------------- */

.light-back-layer-one {
  display: inline-flex;
  justify-content: center;
  width: 550px;
  height: 868px;
  left: 664px;
  top: 53px;
  background: #23252c;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
